<div class="app-about-poet">
  <img src="../../../../assets/nichita.jpg" alt="" width="100%" />
  <br />
  <a
    href="http://www.liceulnichitastanescu.ro/documente/nichita/Nichita%20muzeu.pdf"
    >Nichita Stanescu - Muzeul Memorial din Ploiesti / Festivalul international
    de poezie
  </a>
  <br />
  <a
    href="http://www.liceulnichitastanescu.ro/documente/nichita/Nichita%20Stanescu%20poezii.pdf"
  >
    Nichita Stanescu - Poezii
  </a>
  <br />
  <a
    href="https://www.youtube.com/watch?v=xkoKKQ63djo&list=PLiT1DXW-Hg8x_aze1OHfOubDGIUDu37Ki"
    >Eveniment omagial "Nichita Stanescu"</a
  >
</div>
