<div class="app-students">
  <div class="students-category">
    <div class="students-category-title">
      {{ "students.course-schedule" | translate: language }}
    </div>
    <div class="students-category-links">
      <div
        class="students-category-links-link"
        *ngFor="let linkData of DATA_VARIABLES.studentsLinks.courseSchedule"
      >
        <a [href]="linkData.link" target="_blank">{{ linkData.title }}</a>
      </div>
    </div>
    <div class="students-category-title">
      {{ "students.break-schedule" | translate: language }}
    </div>
    <div class="students-category-links">
      <div
        class="students-category-links-link"
        *ngFor="let linkData of DATA_VARIABLES.studentsLinks.breakSchedule"
      >
        <a [href]="linkData.link" target="_blank">{{ linkData.title }}</a>
      </div>
    </div>
    <div class="students-category-title">
      {{ "students.timetable" | translate: language }}
    </div>
    <div class="students-category-links">
      <div
        class="students-category-links-link"
        *ngFor="let linkData of DATA_VARIABLES.studentsLinks.timetable"
      >
        <a [href]="linkData.link" target="_blank">{{ linkData.title }}</a>
      </div>
    </div>
    <div class="students-category-title">
      {{ "students.covid-prevention" | translate: language }}
    </div>
    <div class="students-category-links">
      <div
        class="students-category-links-link"
        *ngFor="let linkData of DATA_VARIABLES.studentsLinks.covidPrevention"
      >
        <a [href]="linkData.link" target="_blank">{{ linkData.title }}</a>
      </div>
    </div>
    <div class="students-category-title">
      {{ "students.students-distribution" | translate: language }}
    </div>
    <div class="students-category-links">
      <div
        class="students-category-links-link"
        *ngFor="
          let linkData of DATA_VARIABLES.studentsLinks.studentsDistribution
        "
      >
        <a [href]="linkData.link" target="_blank">{{ linkData.title }}</a>
      </div>
    </div>
  </div>
</div>
