.app-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 1vw 2vw;

  .logo {
    height: 50px;
    width: auto;
  }

  .items {
    display: flex;
    flex-flow: row;
    align-items: center;

    &-item {
      cursor: pointer;
      display: flex;
      margin-left: 0;

      img {
        height: 15px;
        width: auto;
        margin-left: 1vw;
        filter: grayscale(1);

        &:hover {
          filter: none;
        }

        &.isSelected {
          filter: none;
        }
      }
    }
  }
}
