<div class="app-header">
  <img
    src="./../../../assets/logo.png"
    alt="logo liceul teoretic nichita stanescu"
    class="logo"
  />
  <div class="items">
    <div class="items-item" id="personal">personal</div>
    <div class="items-item" id="elevi">elevi</div>
    <div class="items-item" id="avizier">avizier</div>
    <div class="items-item" id="contact">contact</div>
    <div class="items-item" id="galerie">galerie</div>
    <div class="items-item" id="transparenta-institutionala">
      transparenta-institutionala
    </div>
  </div>
</div>
