<div class="app-header">
  <img
    src="./../../../assets/logo_ltns.png"
    alt="logo liceul teoretic nichita stanescu"
    class="logo"
    (click)="goTo('')"
  />
  <div class="items">
    <app-menu></app-menu>
    <div class="items-item">
      <img
        src="./../../../assets/icons/flag-translation-english.jpg"
        alt="english flag translation"
        (click)="selectLanguage('EN')"
        [ngClass]="{ isSelected: language === 'EN' }"
      />
      <img
        src="./../../../assets/icons/flag-translation-romanian.png"
        alt="romanian flag translation"
        (click)="selectLanguage('RO')"
        [ngClass]="{ isSelected: language === 'RO' }"
      />

      <!-- <img
        class="items-item"
        src="./../../../assets/icons/login.png"
        alt="login admin website"
      /> -->
    </div>
  </div>
</div>
