<div class="app-header">
  <img
    src="./../../../assets/logo.png"
    alt="logo liceul teoretic nichita stanescu"
    class="logo"
    (click)="goTo('')"
  />
  <div class="items">
    <div class="items-item languages">
      <img
        src="./../../../assets/icons/flag-translation-english.jpg"
        alt="english flag translation"
        (click)="selectLanguage('EN')"
        [ngClass]="{ isSelected: language === 'EN' }"
      />
      <img
        src="./../../../assets/icons/flag-translation-romanian.png"
        alt="romanian flag translation"
        (click)="selectLanguage('RO')"
        [ngClass]="{ isSelected: language === 'RO' }"
      />
    </div>
  </div>
</div>
