<div class="app-add-post" *ngIf="isUserAccess">
  <div class="add-button">
    <button *ngIf="!showEditor" (click)="openNewPost()" class="primary-button">
      {{ "posts.add-post" | translate: language }}
    </button>
  </div>
  <div *ngIf="showEditor">
    <form class="post-form">
      <mat-form-field class="article-title">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Title of article"
          [formControl]="titleFormControl"
        />
      </mat-form-field>
      <div class="article-date">
        {{ todayDateString | formatDate }}
      </div>
      <mat-form-field class="article-content">
        <mat-label>Content</mat-label>
        <textarea
          matInput
          placeholder="Write your content"
          [formControl]="contentFormControl"
        ></textarea>
      </mat-form-field>

      <div class="article-actions">
        <button *ngIf="!editMode" (click)="addPost()" class="primary-button">
          {{ "posts.post" | translate: language }}
        </button>
        <button *ngIf="editMode" (click)="editPost()" class="primary-button">
          {{ "posts.edit-post" | translate: language }}
        </button>
        <button class="secondary-button" (click)="cancelPost()">
          {{ "posts.cancel" | translate: language }}
        </button>
      </div>
    </form>
  </div>
</div>
