<div class="app-article" *ngIf="!isEditEnabled">
  <div class="article-title">
    {{ article.title }}
    <div class="article-title-actions" *ngIf="isUserAccess">
      <button mat-button (click)="editPost()">
        <img src="../../../assets/icons/edit.png" alt="edit logo" />
      </button>
      <button mat-button (click)="deletePost()">
        <img src="../../../assets/icons/delete.png" alt="delete logo" />
      </button>
    </div>
  </div>
  <div class="article-date">
    {{ article.postDate | formatDate }}
  </div>
  <div class="article-content" [innerHTML]="article.content"></div>
</div>
<app-add-post
  *ngIf="isEditEnabled"
  [editMode]="true"
  [defaultValues]="article"
  (disableEdit)="disableEditPost()"
></app-add-post>
