<div class="app-data-protection">
  Informare cu privire la prelucrarea şi protecţia datelor cu caracter personal
  potrivit art.13 din Regulamentul (UE) nr.2016/679 al Parlamentului European și
  al Consiliului din 27 aprilie 2016
  <br />
  <br />
  Responsabil pentru protecția datelor (DPO) :
  <br />

  - nr. telefon: 021.340.04.40
  <br />
  - adresa de email: dpo_liceulnichitastanescu@yahoo.com

  <br />
  <br />
  <a href="http://www.dataprotection.ro/"
    >Autoritatea Naţională de Supraveghere a Prelucrării Datelor cu Caracter
    Personal</a
  >
</div>
