/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: var(--black);
}

:root {
  --primary: #2f7fbc;
  --primary-light: #80aac2;
  --background: #edf7f6;
  --black: #051923;
  --white: #ffffff;
  --primary-transparent: #2f7fbc2e;
}

a {
  color: var(--primary);
  text-decoration: none;

  &::after {
    content: " 🡕";
  }

  &:visited {
    color: var(--primary-light);
  }

  &:hover {
    color: var(--primary-light);
    text-decoration: underline;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

ul,
li {
  &::marker {
    color: var(--primary);
  }
}

.primary-button {
  border: 1px solid var(--primary-light);
  color: var(--primary);
  background: var(--white);
  width: fit-content;
  padding: 1vw 2vw;
  border-radius: 3px;

  &:hover {
    background-color: var(--background);
  }
}

.secondary-button {
  border: 1px solid var(--background);
  color: var(--primary);
  background: var(--background);
  width: fit-content;
  padding: 1vw 2vw;
}

.page-title {
  font-weight: bold;
  color: var(--primary-transparent);
  font-size: 32px;
  padding: 10px 0;
  text-align: center;
}
